<%= render "shared/error_messages", resource: resource %>
<div class="flex bg-green-100 p-10">
  <div class="w-1/2 mr-4">
    <%= render 'devise/shared/sign_in_form' %>
  </div>

  <div class="w-1/2">
    <%= render 'devise/shared/sign_up_form' %>
  </div>
</div>
