<% if flash.any? %>
<div class="flex">
  <div class="w-full text-left">
  <% flash.each do |key, message| %>
    <div class="bg-green-100 text-green-700 p-4 mb-4 rounded-md">
      <%= message %>
    </div>
  <% end %>
  </div>
</div>
<% end %>
