<div class="flex flex-col text-center w-full">
  <h1 class="font-bold text-4xl text-green-700">WalletControl::You Can Control Your Money</h1>
  <i class="fa-solid fa-wallet fa-10x text-green-700 my-10"></i>
  Wallet Control
</div>
